#baymau{
	opacity: 0.6;
}

#so1{
	 background-color: #F0FFFF;
	padding-top: 2%;
	border-radius: 2px;
	

}
ul.footer-menu li {
	display: inline-block;
	padding-left: 10px;
}
#so2{
	background-color: #ecf0f1;
}
#so3{
	background-color: #ecf0f1;
}
#so4{
	background-color: #ecf0f1;
}
#so5{
	display: inline-block;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid black;
}
img{
	width: 200px;
	height: 200px;

}#so1 img:hover{
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transform: scale(1.2,1.2);
	-webkit-transform: scale(1.2,1.2);
	-moz-transform: scale(1.2,1.2);
	-o-transform: scale(1.2,1.2);
	-ms-transform: scale(1.2,1.2);
}
















